#all folder pycache and .vscode ignored
__pycache__/
.vscode/

#project 6 :
#list.json
list.json

#project 7 and p_bonus_2:
#data folder
data

#project 8 :
#creat folder
Employes
Exercices
Films

#project 9 :
#prenoms_clean.txt
prenoms_clean.txt

#project 10 :
#env folder
env
#user.log file
user.log

#project bonus 1 :
#data folder
data